@font-face {
  font-family: 'Temha-Icon';
  src:
    url('Temha-Icon.ttf?gp431w') format('truetype'),
    url('Temha-Icon.woff?gp431w') format('woff'),
    url('Temha-Icon.svg?gp431w#Temha-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="th-icon-"],
[class*=" th-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Temha-Icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.th-icon-accordion_arrow:before {
  content: "\e900";
}

.th-icon-accordion_minus:before {
  content: "\e901";
}

.th-icon-accordion_plus:before {
  content: "\e902";
}

.th-icon-button_like:before {
  content: "\e903";
}

.th-icon-card_like:before {
  content: "\e904";
}

.th-icon-card_more:before {
  content: "\e905";
}

.th-icon-card_share:before {
  content: "\e906";
}

.th-icon-check_box:before {
  content: "\e907";
}

.th-icon-check_fill:before {
  content: "\e908";
}

.th-icon-check_line:before {
  content: "\e909";
}

.th-icon-check_round:before {
  content: "\e90a";
}

.th-icon-dropdown_arrow_lg:before {
  content: "\e90b";
}

.th-icon-dropdown_arrow_sm:before {
  content: "\e90c";
}

.th-icon-dropdown_head:before {
  content: "\e90d";
}

.th-icon-input_human:before {
  content: "\e90e";
}

.th-icon-input_search:before {
  content: "\e90f";
}

.th-icon-pagination_first:before {
  content: "\e910";
}

.th-icon-pagination_last:before {
  content: "\e911";
}

.th-icon-pagination_more_plus:before {
  content: "\e912";
}

.th-icon-pagination_next:before {
  content: "\e913";
}

.th-icon-pagination_prev:before {
  content: "\e914";
}

.th-icon-radio_fill:before {
  content: "\e915";
}

.th-icon-radio_line:before {
  content: "\e916";
}

.th-icon-select_check:before {
  content: "\e917";
}

.th-icon-switch_white:before {
  content: "\e918";
}

.th-icon-text_more:before {
  content: "\e919";
}

.th-icon-volume_low:before {
  content: "\e91a";
}