@font-face {
  font-family: 'Temha-Icon';
  src:
    url('Temha-Icon.ttf?m9f5wh') format('truetype'),
    url('Temha-Icon.woff?m9f5wh') format('woff'),
    url('Temha-Icon.svg?m9f5wh#Temha-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="th-icon-"],
[class*=" th-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Temha-Icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.th-icon-accordion_arrow:before {
  content: "\e900";
}

.th-icon-accordion_minus:before {
  content: "\e901";
}

.th-icon-accordion_plus:before {
  content: "\e902";
}

.th-icon-button_like:before {
  content: "\e903";
}

.th-icon-card_like:before {
  content: "\e904";
}

.th-icon-card_more:before {
  content: "\e905";
}

.th-icon-card_share:before {
  content: "\e906";
}

.th-icon-check_fill:before {
  content: "\e907";
}

.th-icon-check_line:before {
  content: "\e908";
}

.th-icon-check_round:before {
  content: "\e909";
}

.th-icon-dropdown_arrow:before {
  content: "\e90a";
}

.th-icon-dropdown_arrow-1:before {
  content: "\e90b";
}

.th-icon-dropdown_head:before {
  content: "\e90c";
}

.th-icon-ico_bell:before {
  content: "\e90d";
}

.th-icon-ico_close:before {
  content: "\e90e";
}

.th-icon-input_human:before {
  content: "\e90f";
}

.th-icon-input_search:before {
  content: "\e910";
}

.th-icon-pagination_first:before {
  content: "\e911";
}

.th-icon-pagination_last:before {
  content: "\e912";
}

.th-icon-pagination_molus:before {
  content: "\e913";
}

.th-icon-pagination_next:before {
  content: "\e914";
}

.th-icon-pagination_prev:before {
  content: "\e915";
}

.th-icon-radio_fill:before {
  content: "\e916";
}

.th-icon-radio_line:before {
  content: "\e917";
}

.th-icon-select_check:before {
  content: "\e918";
}

.th-icon-switch:before {
  content: "\e919";
}

.th-icon-text_more:before {
  content: "\e91a";
}

.th-icon-toast_danger .path1:before {
  content: "\e91b";
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.th-icon-toast_danger .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.th-icon-toast_danger .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(220, 0, 0);
}

.th-icon-toast_danger .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(220, 0, 0);
}

.th-icon-toast_success .path1:before {
  content: "\e91f";
  color: rgb(4, 176, 20);
  opacity: 0.6;
}

.th-icon-toast_success .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(4, 176, 20);
}

.th-icon-toast_success .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.th-icon-toast_warning .path1:before {
  content: "\e922";
  color: rgb(255, 170, 0);
  opacity: 0.6;
}

.th-icon-toast_warning .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 170, 0);
}

.th-icon-toast_warning .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.th-icon-toast_warning .path4:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.th-icon-volume_low:before {
  content: "\e926";
}