@font-face {
  font-family: 'Temha-Icon';
  src:
    url('Temha-Icon.ttf?dhbi80') format('truetype'),
    url('Temha-Icon.woff?dhbi80') format('woff'),
    url('Temha-Icon.svg?dhbi80#Temha-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ti-"]::before,
[class*=" ti-"]::before {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-pause-rect-sm:before {
  content: "\a376a";
}
.ti-grid-rect:before {
  content: "\a369a";
}
.ti-star-rect-fill:before {
  content: "\a368a";
}
.ti-star-rect:before {
  content: "\a367a";
}
.ti-bell2-rect:before {
  content: "\e903";
}
.ti-minus:before {
  content: "\e901";
}
.ti-sns-temha:before {
  content: "\a547a";
}
.ti-airplane-fill:before {
  content: "\a541a";
}
.ti-megaphone-fill:before {
  content: "\a546a";
}
.ti-shield-check-fill:before {
  content: "\a544a";
}
.ti-shield-fill:before {
  content: "\a542a";
}
.ti-shield-plus-fill:before {
  content: "\a543a";
}
.ti-shield-x-fill:before {
  content: "\a545a";
}
.ti-eye-fill:before {
  content: "\a534a";
}
.ti-eye-slash-fill:before {
  content: "\a535a";
}
.ti-fullscreen-fill:before {
  content: "\a533a";
}
.ti-grid-fill:before {
  content: "\a370a";
}
.ti-location-fill:before {
  content: "\a539a";
}
.ti-parking-fill:before {
  content: "\a540a";
}
.ti-skip-end-fill:before {
  content: "\a538a";
}
.ti-skip-start-fill:before {
  content: "\a537a";
}
.ti-user-fill:before {
  content: "\a536a";
}
.ti-download-box-fill:before {
  content: "\a527a";
}
.ti-folder2-fill:before {
  content: "\a525a";
}
.ti-folder-fill:before {
  content: "\a524a";
}
.ti-folders-fill:before {
  content: "\a526a";
}
.ti-lock2-fill:before {
  content: "\a531a";
}
.ti-lock-fill:before {
  content: "\a529a";
}
.ti-unlock2-fill:before {
  content: "\a532a";
}
.ti-unlock-fill:before {
  content: "\a530a";
}
.ti-upload-box-fill:before {
  content: "\a528a";
}
.ti-bell-fill:before {
  content: "\a514a";
}
.ti-bell-off-fill:before {
  content: "\a515a";
}
.ti-film-fill:before {
  content: "\a517a";
}
.ti-headset-fill:before {
  content: "\a513a";
}
.ti-microphone-fill:before {
  content: "\a512a";
}
.ti-mobile-fill:before {
  content: "\a521a";
}
.ti-pc-fill:before {
  content: "\a519a";
}
.ti-tablet-fill:before {
  content: "\a520a";
}
.ti-tel2-fill:before {
  content: "\a523a";
}
.ti-tel-fill:before {
  content: "\a522a";
}
.ti-tv-fill:before {
  content: "\a518a";
}
.ti-video-fill:before {
  content: "\a516a";
}
.ti-archive2-fill:before {
  content: "\a507a";
}
.ti-archive-fill:before {
  content: "\a506a";
}
.ti-bag-fill:before {
  content: "\a508a";
}
.ti-layer-fill:before {
  content: "\a511a";
}
.ti-pen2-fill:before {
  content: "\a501a";
}
.ti-pen3-fill:before {
  content: "\a502a";
}
.ti-pen4-fill:before {
  content: "\a504a";
}
.ti-pen-box-fill:before {
  content: "\a505a";
}
.ti-pen-fill:before {
  content: "\a500a";
}
.ti-trash2-fill:before {
  content: "\a510a";
}
.ti-trash-fill:before {
  content: "\a509a";
}
.ti-briefcase2-fill:before {
  content: "\a490a";
}
.ti-briefcase3-fill:before {
  content: "\a491a";
}
.ti-briefcase-fill:before {
  content: "\a489a";
}
.ti-filter2-fill:before {
  content: "\a493a";
}
.ti-filter-bar2-fill:before {
  content: "\a495a";
}
.ti-filter-bar3-fill:before {
  content: "\a496a";
}
.ti-filter-bar4-fill:before {
  content: "\a497a";
}
.ti-filter-bar-fill:before {
  content: "\a494a";
}
.ti-filter-bar-vertical2-fill:before {
  content: "\a499a";
}
.ti-filter-bar-vertical-fill:before {
  content: "\a498a";
}
.ti-filter-fill:before {
  content: "\a492a";
}
.ti-cart-fill:before {
  content: "\a479a";
}
.ti-coins-fill:before {
  content: "\a482a";
}
.ti-copy-fill:before {
  content: "\a485a";
}
.ti-credit-card2-fill:before {
  content: "\a481a";
}
.ti-credit-card-fill:before {
  content: "\a480a";
}
.ti-kit-medical-fill:before {
  content: "\a488a";
}
.ti-medical-notes-fill:before {
  content: "\a487a";
}
.ti-page-fill:before {
  content: "\a483a";
}
.ti-page-long-fill:before {
  content: "\a484a";
}
.ti-pill-fill:before {
  content: "\a486a";
}
.ti-chat2-fill:before {
  content: "\a473a";
}
.ti-chat-dot-fill:before {
  content: "\a474a";
}
.ti-chat-fill:before {
  content: "\a472a";
}
.ti-chat-square-dot-fill:before {
  content: "\a475a";
}
.ti-mouse-fill:before {
  content: "\a478a";
}
.ti-thumbs-down-fill:before {
  content: "\a476a";
}
.ti-thumbs-up-fill:before {
  content: "\a477a";
}
.ti-check-circle-fill:before {
  content: "\a467a";
}
.ti-check-square-fill:before {
  content: "\a468a";
}
.ti-clock-fill:before {
  content: "\a466a";
}
.ti-floppy-fill:before {
  content: "\a469a";
}
.ti-house2-fill:before {
  content: "\a471a";
}
.ti-house-fill:before {
  content: "\a470a";
}
.ti-play2-fill:before {
  content: "\a456a";
}
.ti-pause2-fill:before {
  content: "\a457a";
}
.ti-pause-circle-fill:before {
  content: "\a459a";
}
.ti-play-circle-fill:before {
  content: "\a458a";
}
.ti-chevrons-left-circle-fill:before {
  content: "\a460a";
}
.ti-arrow-left-circle-fill:before {
  content: "\a462a";
}
.ti-arrow-right-circle-fill:before {
  content: "\a463a";
}
.ti-arrow-up-circle-fill:before {
  content: "\a464a";
}
.ti-chevrons-down-circle-fill:before {
  content: "\a465a";
}
.ti-chevrons-right-circle-fill:before {
  content: "\a461a";
}
.ti-code-rect:before {
  content: "\a453a";
}
.ti-gem-rect:before {
  content: "\a454a";
}
.ti-syringe-rect:before {
  content: "\a455a";
}
.ti-wine2-rect:before {
  content: "\a452a";
}
.ti-wine-rect:before {
  content: "\a451a";
}
.ti-check-list-rect:before {
  content: "\a443a";
}
.ti-drill-rect:before {
  content: "\a449a";
}
.ti-fullscreen-rect:before {
  content: "\a440a";
}
.ti-list2-rect:before {
  content: "\a442a";
}
.ti-list-rect:before {
  content: "\a441a";
}
.ti-mortarboard-rect:before {
  content: "\a447a";
}
.ti-presentation-rect:before {
  content: "\a448a";
}
.ti-quote-left-rect:before {
  content: "\a444a";
}
.ti-quote-right-rect:before {
  content: "\a445a";
}
.ti-school-rect:before {
  content: "\a446a";
}
.ti-umbrella-beach-rect:before {
  content: "\a450a";
}
.ti-chart-rect:before {
  content: "\a437a";
}
.ti-chart-rect-fill:before {
  content: "\a438a";
}
.ti-film-rect:before {
  content: "\a439a";
}
.ti-filter2-rect:before {
  content: "\a432a";
}
.ti-filter-rect:before {
  content: "\a431a";
}
.ti-floppy2-rect:before {
  content: "\a436a";
}
.ti-floppy-rect:before {
  content: "\a435a";
}
.ti-headset-rect:before {
  content: "\a433a";
}
.ti-microphone-rect:before {
  content: "\a434a";
}
.ti-bluetooth-rect:before {
  content: "\a424a";
}
.ti-exclamation-rect:before {
  content: "\a430a";
}
.ti-eye-rect:before {
  content: "\e97a";
}
.ti-eye-slash-rect:before {
  content: "\a425a";
}
.ti-gear-rect:before {
  content: "\a428a";
}
.ti-lock-rect:before {
  content: "\a426a";
}
.ti-question-circle-rect:before {
  content: "\a429a";
}
.ti-unlock-rect:before {
  content: "\a427a";
}
.ti-bookmark-fill-rect:before {
  content: "\a417a";
}
.ti-bookmark-rect:before {
  content: "\a416a";
}
.ti-book-open-rect:before {
  content: "\a413a";
}
.ti-book-rect:before {
  content: "\a412a";
}
.ti-crown-rect:before {
  content: "\a422a";
}
.ti-crown-rect-fill:before {
  content: "\a423a";
}
.ti-location-rect:before {
  content: "\a415a";
}
.ti-map-rect:before {
  content: "\a414a";
}
.ti-pin-rect:before {
  content: "\a418a";
}
.ti-pin-rect-fill:before {
  content: "\a419a";
}
.ti-trophy-rect:before {
  content: "\a420a";
}
.ti-trophy-rect-fill:before {
  content: "\a421a";
}
.ti-download-box-rect:before {
  content: "\a408a";
}
.ti-download-rect:before {
  content: "\a406a";
}
.ti-login-rect:before {
  content: "\a404a";
}
.ti-logout-rect:before {
  content: "\a405a";
}
.ti-pen-box-rect:before {
  content: "\a410a";
}
.ti-trash-rect:before {
  content: "\a411a";
}
.ti-upload-box-rect:before {
  content: "\a409a";
}
.ti-upload-rect:before {
  content: "\a407a";
}
.ti-folder2-rect:before {
  content: "\a399a";
}
.ti-folder-minus-rect:before {
  content: "\a398a";
}
.ti-folder-rect:before {
  content: "\a397a";
}
.ti-folders-rect:before {
  content: "\a400a";
}
.ti-mobile-rect:before {
  content: "\a403a";
}
.ti-tablet-rect:before {
  content: "\a402a";
}
.ti-pc-rect:before {
  content: "\a401a";
}
.ti-bag-rect:before {
  content: "\a396a";
}
.ti-credit-card2-rect:before {
  content: "\a395a";
}
.ti-credit-card-rect:before {
  content: "\a394a";
}
.ti-page2-rect:before {
  content: "\a388a";
}
.ti-page3-rect:before {
  content: "\a389a";
}
.ti-page4-rect:before {
  content: "\a390a";
}
.ti-page5-rect:before {
  content: "\a391a";
}
.ti-page-long-rect:before {
  content: "\a392a";
}
.ti-page-rect:before {
  content: "\a387a";
}
.ti-pages-rect:before {
  content: "\a393a";
}
.ti-camera-off-rect:before {
  content: "\a380a";
}
.ti-camera-rect:before {
  content: "\a379a";
}
.ti-image-rect:before {
  content: "\a381a";
}
.ti-video2-rect:before {
  content: "\a383a";
}
.ti-video-rect:before {
  content: "\a382a";
}
.ti-calendar-rect:before {
  content: "\a384a";
}
.ti-clock2-rect:before {
  content: "\a386a";
}
.ti-clock-rect:before {
  content: "\a385a";
}
.ti-pause-circle-rect:before {
  content: "\a378a";
}
.ti-play-circle-rect:before {
  content: "\a377a";
}
.ti-play-rect-sm:before {
  content: "\a375a";
}
.ti-skip-end-rect:before {
  content: "\a372a";
}
.ti-pause-rect:before {
  content: "\a374a";
}
.ti-play-rect:before {
  content: "\a373a";
}
.ti-skip-start-rect:before {
  content: "\a371a";
}
.ti-house2-rect:before {
  content: "\a364a";
}
.ti-house3-rect:before {
  content: "\a365a";
}
.ti-house4-rect:before {
  content: "\a366a";
}
.ti-house-rect:before {
  content: "\a363a";
}
.ti-bell-rect:before {
  content: "\a358a";
}
.ti-user-rect:before {
  content: "\a357a";
}
.ti-volume-mute-rect:before {
  content: "\a362a";
}
.ti-volume-rect:before {
  content: "\a360a";
}
.ti-volume-up-rect:before {
  content: "\a361a";
}
.ti-justify2-rect-left:before {
  content: "\a354a";
}
.ti-justify2-rect-right:before {
  content: "\a355a";
}
.ti-justify-rect:before {
  content: "\a351a";
}
.ti-justify-rect-center:before {
  content: "\a356a";
}
.ti-justify-rect-left:before {
  content: "\a352a";
}
.ti-justify-rect-right:before {
  content: "\a353a";
}
.ti-arrow-circle-rect-down:before {
  content: "\e9c4";
}
.ti-arrow-circle-rect-left:before {
  content: "\e9c5";
}
.ti-arrow-circle-rect-right:before {
  content: "\e9c6";
}
.ti-arrow-circle-rect-up:before {
  content: "\e9c7";
}
.ti-carets-circle-rect-left:before {
  content: "\e9c8";
}
.ti-carets-circle-rect-right:before {
  content: "\e9c9";
}
.ti-arrow-rect-down:before {
  content: "\e9ca";
}
.ti-arrow-rect-left:before {
  content: "\a398";
}
.ti-arrow-rect-right:before {
  content: "\a399";
}
.ti-arrow-rect-up:before {
  content: "\e9cd";
}
.ti-half-arrow-rect-left:before {
  content: "\e9ce";
}
.ti-half-arrow-rect-right:before {
  content: "\e91a";
}
.ti-caret-rect-down:before {
  content: "\e90d";
}
.ti-caret-rect-left:before {
  content: "\a394";
}
.ti-caret-rect-right:before {
  content: "\a395";
}
.ti-caret-rect-up:before {
  content: "\a396";
}
.ti-chevrons-rect-down:before {
  content: "\a393";
}
.ti-chevrons-rect-left:before {
  content: "\e911";
}
.ti-chevrons-rect-right:before {
  content: "\e912";
}
.ti-chevron-rect-down:before {
  content: "\e900";
}
.ti-chevron-rect-down-sm:before {
  content: "\a390";
}
.ti-chevron-rect-down-sm-1:before {
  content: "\e90c";
}
.ti-chevron-rect-left:before {
  content: "\a383";
}
.ti-chevron-rect-left-sm:before {
  content: "\e915";
}
.ti-chevron-rect-right:before {
  content: "\a384";
}
.ti-chevron-rect-right-sm:before {
  content: "\e914";
}
.ti-chevron-rect-up:before {
  content: "\a385";
}
.ti-chevron-rect-up-sm:before {
  content: "\a389";
}
.ti-check-rect:before {
  content: "\e918";
}
.ti-check-rect-circle:before {
  content: "\a380";
}
.ti-check-rect-sm:before {
  content: "\a378";
}
.ti-check-rect-xs:before {
  content: "\a379";
}
.ti-check-square:before {
  content: "\a381";
}
.ti-check-square2:before {
  content: "\a382";
}
.ti-minus-rect:before {
  content: "\a374";
}
.ti-minus-rect-circle:before {
  content: "\a376";
}
.ti-plus-rect:before {
  content: "\e902";
}
.ti-plus-rect-circle:before {
  content: "\a375";
}
.ti-x-rect:before {
  content: "\a371";
}
.ti-x-rect-sm:before {
  content: "\a372";
}
.ti-briefcase:before {
  content: "\a363";
}
.ti-briefcase2:before {
  content: "\a364";
}
.ti-briefcase3:before {
  content: "\a365";
}
.ti-kit-medical:before {
  content: "\a366";
}
.ti-shield:before {
  content: "\a367";
}
.ti-shield-check:before {
  content: "\a369";
}
.ti-shield-plus:before {
  content: "\a368";
}
.ti-shield-x:before {
  content: "\a370";
}
.ti-beer:before {
  content: "\a351";
}
.ti-cake:before {
  content: "\a352";
}
.ti-code:before {
  content: "\a357";
}
.ti-coffee:before {
  content: "\a354";
}
.ti-firecracker:before {
  content: "\a353";
}
.ti-flag:before {
  content: "\a358";
}
.ti-hole:before {
  content: "\a355";
}
.ti-magic:before {
  content: "\a349";
}
.ti-magic-fill:before {
  content: "\a350";
}
.ti-medical:before {
  content: "\a361";
}
.ti-quote-left:before {
  content: "\a359";
}
.ti-quote-right:before {
  content: "\a360";
}
.ti-robot:before {
  content: "\a356";
}
.ti-scissors:before {
  content: "\a347";
}
.ti-scissors2:before {
  content: "\a348";
}
.ti-tooth:before {
  content: "\a362";
}
.ti-check-list:before {
  content: "\ea04";
}
.ti-faceid:before {
  content: "\a337";
}
.ti-fingerprint:before {
  content: "\a338";
}
.ti-fingerprint2:before {
  content: "\a339";
}
.ti-fingerprint3:before {
  content: "\a340";
}
.ti-goal:before {
  content: "\a336";
}
.ti-layer:before {
  content: "\a341";
}
.ti-list:before {
  content: "\a344";
}
.ti-list2:before {
  content: "\a345";
}
.ti-loader:before {
  content: "\a334";
}
.ti-loader2:before {
  content: "\a335";
}
.ti-thumbs-down:before {
  content: "\a343";
}
.ti-thumbs-up:before {
  content: "\a342";
}
.ti-archive:before {
  content: "\a322";
}
.ti-archive2:before {
  content: "\a323";
}
.ti-brush:before {
  content: "\a325";
}
.ti-brush-fill:before {
  content: "\a326";
}
.ti-buildings:before {
  content: "\a321";
}
.ti-floppy:before {
  content: "\a324";
}
.ti-global:before {
  content: "\a329";
}
.ti-lightbulb:before {
  content: "\a330";
}
.ti-lightbulb2:before {
  content: "\a332";
}
.ti-lightbulb2-fill:before {
  content: "\a333";
}
.ti-lightbulb-fill:before {
  content: "\a331";
}
.ti-medical-notes:before {
  content: "\a328";
}
.ti-pill:before {
  content: "\a327";
}
.ti-printer:before {
  content: "\a318";
}
.ti-printer2:before {
  content: "\a319";
}
.ti-shop:before {
  content: "\a320";
}
.ti-chat:before {
  content: "\a305";
}
.ti-chat2:before {
  content: "\a306";
}
.ti-chat-dot:before {
  content: "\a307";
}
.ti-chats:before {
  content: "\a312";
}
.ti-chat-square:before {
  content: "\a308";
}
.ti-chat-square2:before {
  content: "\a309";
}
.ti-chat-square-dot:before {
  content: "\a310";
}
.ti-chat-square-dot2:before {
  content: "\a311";
}
.ti-chat-square-text:before {
  content: "\ea29";
}
.ti-headset:before {
  content: "\a313";
}
.ti-headset2:before {
  content: "\a314";
}
.ti-headset3:before {
  content: "\a315";
}
.ti-microphone:before {
  content: "\a316";
}
.ti-microphone2:before {
  content: "\a317";
}
.ti-tel:before {
  content: "\a302";
}
.ti-tel2:before {
  content: "\a303";
}
.ti-tel3:before {
  content: "\a304";
}
.ti-filter:before {
  content: "\a289";
}
.ti-filter2:before {
  content: "\a290";
}
.ti-filter3:before {
  content: "\a291";
}
.ti-filter4:before {
  content: "\a292";
}
.ti-filter-arrow:before {
  content: "\a297";
}
.ti-filter-arrow2:before {
  content: "\a298";
}
.ti-filter-bar:before {
  content: "\a293";
}
.ti-filter-bar2:before {
  content: "\a294";
}
.ti-filter-bar3:before {
  content: "\a295";
}
.ti-filter-bar4:before {
  content: "\a296";
}
.ti-filter-bar-vertical:before {
  content: "\a299";
}
.ti-filter-bar-vertical2:before {
  content: "\a300";
}
.ti-filter-bar-vertical3:before {
  content: "\a301";
}
.ti-exclamation:before {
  content: "\e91c";
}
.ti-exclamation-circle:before {
  content: "\a282";
}
.ti-exclamation-triangle:before {
  content: "\a283";
}
.ti-question:before {
  content: "\a286";
}
.ti-question-circle:before {
  content: "\a281";
}
.ti-siren:before {
  content: "\a284";
}
.ti-speaker:before {
  content: "\a287";
}
.ti-speaker2:before {
  content: "\a288";
}
.ti-eye:before {
  content: "\a269";
}
.ti-eye-slash:before {
  content: "\a270";
}
.ti-gear:before {
  content: "\a279";
}
.ti-lock:before {
  content: "\a271";
}
.ti-lock2:before {
  content: "\a273";
}
.ti-lock3:before {
  content: "\a275";
}
.ti-lock4:before {
  content: "\a277";
}
.ti-unlock:before {
  content: "\a272";
}
.ti-unlock2:before {
  content: "\a274";
}
.ti-unlock3:before {
  content: "\a276";
}
.ti-unlock4:before {
  content: "\a278";
}
.ti-wrench:before {
  content: "\a280";
}
.ti-badge:before {
  content: "\ea53";
}
.ti-badge2:before {
  content: "\a259";
}
.ti-badge3:before {
  content: "\a260";
}
.ti-bluetooth:before {
  content: "\ea56";
}
.ti-coins:before {
  content: "\a265";
}
.ti-dollar:before {
  content: "\a263";
}
.ti-drag:before {
  content: "\ea59";
}
.ti-medal:before {
  content: "\a257";
}
.ti-mouse:before {
  content: "\a266";
}
.ti-touch:before {
  content: "\a268";
}
.ti-trophy:before {
  content: "\a258";
}
.ti-wallet:before {
  content: "\a261";
}
.ti-wallet2:before {
  content: "\a262";
}
.ti-wifi:before {
  content: "\a267";
}
.ti-won:before {
  content: "\a264";
}
.ti-bookmark:before {
  content: "\a244";
}
.ti-bookmark2:before {
  content: "\a246";
}
.ti-bookmark2-fill:before {
  content: "\a247";
}
.ti-bookmark3:before {
  content: "\a248";
}
.ti-bookmark3-fill:before {
  content: "\a249";
}
.ti-bookmark-check:before {
  content: "\a250";
}
.ti-bookmark-check-fill:before {
  content: "\a251";
}
.ti-bookmark-fill:before {
  content: "\a245";
}
.ti-pin:before {
  content: "\a252";
}
.ti-pin-angle:before {
  content: "\a254";
}
.ti-pin-angle-fill:before {
  content: "\a255";
}
.ti-pin-fill:before {
  content: "\a253";
}
.ti-book:before {
  content: "\a229";
}
.ti-book2:before {
  content: "\a230";
}
.ti-book-open:before {
  content: "\a231";
}
.ti-book-open2:before {
  content: "\a232";
}
.ti-book-open3:before {
  content: "\a233";
}
.ti-location:before {
  content: "\a235";
}
.ti-location2:before {
  content: "\a236";
}
.ti-location3:before {
  content: "\a237";
}
.ti-location4:before {
  content: "\a238";
}
.ti-map:before {
  content: "\a234";
}
.ti-map-location:before {
  content: "\a239";
}
.ti-route:before {
  content: "\a240";
}
.ti-route2:before {
  content: "\a241";
}
.ti-route3:before {
  content: "\a242";
}
.ti-pen:before {
  content: "\a223";
}
.ti-pen2:before {
  content: "\a224";
}
.ti-pen-box:before {
  content: "\a228";
}
.ti-pen-write:before {
  content: "\a225";
}
.ti-pen-write2:before {
  content: "\a226";
}
.ti-pen-write3:before {
  content: "\a227";
}
.ti-download:before {
  content: "\a214";
}
.ti-download2:before {
  content: "\a216";
}
.ti-download-cloud:before {
  content: "\a219";
}
.ti-download-folder:before {
  content: "\a221";
}
.ti-download-line:before {
  content: "\ea87";
}
.ti-upload:before {
  content: "\a213";
}
.ti-upload2:before {
  content: "\a215";
}
.ti-upload-cloud:before {
  content: "\a220";
}
.ti-upload-folder:before {
  content: "\a222";
}
.ti-upload-line:before {
  content: "\a218";
}
.ti-login:before {
  content: "\a205";
}
.ti-login-box:before {
  content: "\a207";
}
.ti-login-box2:before {
  content: "\a209";
}
.ti-login-circle:before {
  content: "\a211";
}
.ti-logout:before {
  content: "\a206";
}
.ti-logout-box:before {
  content: "\a208";
}
.ti-logout-box2:before {
  content: "\a210";
}
.ti-logout-circle:before {
  content: "\a212";
}
.ti-power:before {
  content: "\a204";
}
.ti-mobile:before {
  content: "\a194";
}
.ti-mobile2:before {
  content: "\a195";
}
.ti-pc:before {
  content: "\a191";
}
.ti-pc2:before {
  content: "\a192";
}
.ti-tablet:before {
  content: "\a193";
}
.ti-trash:before {
  content: "\a197";
}
.ti-trash2:before {
  content: "\a198";
}
.ti-trash3:before {
  content: "\a199";
}
.ti-trash4:before {
  content: "\a200";
}
.ti-trash5:before {
  content: "\a201";
}
.ti-trash6:before {
  content: "\a202";
}
.ti-trash7:before {
  content: "\a203";
}
.ti-tv:before {
  content: "\a196";
}
.ti-folder:before {
  content: "\a183";
}
.ti-folder2:before {
  content: "\a184";
}
.ti-folder2-check:before {
  content: "\a188";
}
.ti-folder2-minus:before {
  content: "\a186";
}
.ti-folder2-minus-open:before {
  content: "\a185";
}
.ti-folder2-plus:before {
  content: "\a187";
}
.ti-folder3:before {
  content: "\a189";
}
.ti-folders:before {
  content: "\a190";
}
.ti-airplane:before {
  content: "\a178";
}
.ti-bag:before {
  content: "\a166";
}
.ti-bag2:before {
  content: "\a167";
}
.ti-bag3:before {
  content: "\a168";
}
.ti-box:before {
  content: "\a180";
}
.ti-bus:before {
  content: "\a175";
}
.ti-car:before {
  content: "\a177";
}
.ti-cart:before {
  content: "\a169";
}
.ti-cart2:before {
  content: "\a170";
}
.ti-cart3:before {
  content: "\a171";
}
.ti-gift:before {
  content: "\eab5";
}
.ti-gift2:before {
  content: "\a182";
}
.ti-rocket:before {
  content: "\a179";
}
.ti-subway:before {
  content: "\a176";
}
.ti-truck:before {
  content: "\a172";
}
.ti-truck2:before {
  content: "\a173";
}
.ti-truck3:before {
  content: "\a174";
}
.ti-credit2-card:before {
  content: "\a161";
}
.ti-credit-card:before {
  content: "\a160";
}
.ti-tag:before {
  content: "\a162";
}
.ti-tag-fill:before {
  content: "\a163";
}
.ti-ticket:before {
  content: "\a164";
}
.ti-ticket2:before {
  content: "\a165";
}
.ti-copy:before {
  content: "\a157";
}
.ti-copy2:before {
  content: "\a158";
}
.ti-copy3:before {
  content: "\a159";
}
.ti-page:before {
  content: "\a151";
}
.ti-page2:before {
  content: "\a156";
}
.ti-page2-down:before {
  content: "\a155";
}
.ti-page2-error:before {
  content: "\a154";
}
.ti-page-down:before {
  content: "\a153";
}
.ti-page-error:before {
  content: "\a152";
}
.ti-mail:before {
  content: "\a146";
}
.ti-mail2:before {
  content: "\a148";
}
.ti-mail2-open:before {
  content: "\a149";
}
.ti-mail-open:before {
  content: "\a147";
}
.ti-mail-paper:before {
  content: "\a150";
}
.ti-calendar:before {
  content: "\a138";
}
.ti-calendar-check:before {
  content: "\a139";
}
.ti-calendar-check2:before {
  content: "\a140";
}
.ti-calendar-dot:before {
  content: "\a141";
}
.ti-calendar-number:before {
  content: "\a142";
}
.ti-clock:before {
  content: "\a143";
}
.ti-clock2:before {
  content: "\a144";
}
.ti-clock3:before {
  content: "\a145";
}
.ti-camera:before {
  content: "\a131";
}
.ti-camera2:before {
  content: "\a133";
}
.ti-camera-off:before {
  content: "\a132";
}
.ti-image:before {
  content: "\a134";
}
.ti-image2:before {
  content: "\a135";
}
.ti-video:before {
  content: "\a136";
}
.ti-video-off:before {
  content: "\a137";
}
.ti-pause:before {
  content: "\a124";
}
.ti-pause-circle:before {
  content: "\a130";
}
.ti-pause-fill:before {
  content: "\a126";
}
.ti-pause-fill-sm:before {
  content: "\a128";
}
.ti-play:before {
  content: "\a123";
}
.ti-play-circle:before {
  content: "\a129";
}
.ti-play-fill:before {
  content: "\a125";
}
.ti-play-fill-sm:before {
  content: "\a127";
}
.ti-skip-end:before {
  content: "\a122";
}
.ti-skip-start:before {
  content: "\a121";
}
.ti-grid:before {
  content: "\a117";
}
.ti-grid2:before {
  content: "\a118";
}
.ti-link:before {
  content: "\a119";
}
.ti-paperclip:before {
  content: "\a120";
}
.ti-send:before {
  content: "\a114";
}
.ti-share:before {
  content: "\e907";
}
.ti-share2:before {
  content: "\a116";
}
.ti-circle-fill:before {
  content: "\e919";
}
.ti-circle-line:before {
  content: "\e917";
}
.ti-circle-line2:before {
  content: "\e916";
}
.ti-cloud:before {
  content: "\a102";
}
.ti-heart:before {
  content: "\a103";
}
.ti-heart2:before {
  content: "\a105";
}
.ti-heart2-fill:before {
  content: "\a106";
}
.ti-heart-fill:before {
  content: "\e905";
}
.ti-moon:before {
  content: "\a107";
}
.ti-moon-fill:before {
  content: "\a108";
}
.ti-star:before {
  content: "\a109";
}
.ti-star-fill:before {
  content: "\a110";
}
.ti-house:before {
  content: "\a098";
}
.ti-house2:before {
  content: "\a099";
}
.ti-house3:before {
  content: "\a100";
}
.ti-house4:before {
  content: "\a101";
}
.ti-megaphone:before {
  content: "\a095";
}
.ti-megaphone2:before {
  content: "\a096";
}
.ti-megaphone3:before {
  content: "\a097";
}
.ti-volume:before {
  content: "\a090";
}
.ti-volume2:before {
  content: "\a093";
}
.ti-volume2-mute:before {
  content: "\a094";
}
.ti-volume-mute:before {
  content: "\a092";
}
.ti-volume-up:before {
  content: "\a091";
}
.ti-bell:before {
  content: "\a082";
}
.ti-bell2:before {
  content: "\a085";
}
.ti-bell3:before {
  content: "\a086";
}
.ti-bell3-off:before {
  content: "\a088";
}
.ti-bell3-on:before {
  content: "\a087";
}
.ti-bell4:before {
  content: "\a089";
}
.ti-bell-off:before {
  content: "\a084";
}
.ti-bell-on:before {
  content: "\a083";
}
.ti-license:before {
  content: "\a077";
}
.ti-search:before {
  content: "\e910";
}
.ti-search2:before {
  content: "\a079";
}
.ti-user:before {
  content: "\a071";
}
.ti-user2:before {
  content: "\a072";
}
.ti-user3:before {
  content: "\eb15";
}
.ti-user4:before {
  content: "\a074";
}
.ti-user5:before {
  content: "\a075";
}
.ti-user6:before {
  content: "\a076";
}
.ti-zoom-in:before {
  content: "\a080";
}
.ti-zoom-out:before {
  content: "\a081";
}
.ti-dots:before {
  content: "\e906";
}
.ti-dots-sm:before {
  content: "\a067";
}
.ti-dots-vertical:before {
  content: "\a063";
}
.ti-dots-vertical-sm:before {
  content: "\a068";
}
.ti-grip-dots:before {
  content: "\a064";
}
.ti-grip-dots-sm:before {
  content: "\a069";
}
.ti-grip-dots-vertical:before {
  content: "\a066";
}
.ti-grip-dots-vertical-sm:before {
  content: "\a070";
}
.ti-justify:before {
  content: "\a056";
}
.ti-justify2-left:before {
  content: "\a059";
}
.ti-justify2-right:before {
  content: "\a060";
}
.ti-justify-center:before {
  content: "\a061";
}
.ti-justify-left:before {
  content: "\a057";
}
.ti-justify-right:before {
  content: "\a058";
}
.ti-arrow-repeat:before {
  content: "\a052";
}
.ti-arrow-rotate-left:before {
  content: "\a054";
}
.ti-arrow-rotate-right:before {
  content: "\a055";
}
.ti-half-arrow-repeat:before {
  content: "\a053";
}
.ti-arrow-turn-left:before {
  content: "\a042";
}
.ti-arrow-turn-right:before {
  content: "\a043";
}
.ti-tailed-arrow-left:before {
  content: "\a044";
}
.ti-tailed-arrow-left-fill:before {
  content: "\a046";
}
.ti-tailed-arrow-right:before {
  content: "\a045";
}
.ti-tailed-arrow-right-fill:before {
  content: "\a047";
}
.ti-tailed-arrow-left-sm:before {
  content: "\a048";
}
.ti-tailed-arrow-left-sm-fill:before {
  content: "\a050";
}
.ti-tailed-arrow-right-sm:before {
  content: "\a049";
}
.ti-tailed-arrow-right-sm-fill:before {
  content: "\a051";
}
.ti-arrow2-circle-down:before {
  content: "\a041";
}
.ti-arrow2-circle-left:before {
  content: "\a038";
}
.ti-arrow2-circle-right:before {
  content: "\a039";
}
.ti-arrow2-circle-up:before {
  content: "\a040";
}
.ti-arrow-circle-down:before {
  content: "\a037";
}
.ti-arrow-circle-left:before {
  content: "\a034";
}
.ti-arrow-circle-right:before {
  content: "\a035";
}
.ti-arrow-circle-up:before {
  content: "\a036";
}
.ti-arrow-down:before {
  content: "\a029";
}
.ti-arrow-down-left:before {
  content: "\a030";
}
.ti-arrow-down-right:before {
  content: "\a031";
}
.ti-arrow-left:before {
  content: "\a026";
}
.ti-arrow-right:before {
  content: "\a027";
}
.ti-arrow-up:before {
  content: "\a028";
}
.ti-arrow-up-left:before {
  content: "\a032";
}
.ti-arrow-up-right:before {
  content: "\a033";
}
.ti-caret-down:before {
  content: "\a025";
}
.ti-caret-left:before {
  content: "\a022";
}
.ti-caret-right:before {
  content: "\a023";
}
.ti-caret-up:before {
  content: "\a024";
}
.ti-chevron-down:before {
  content: "\a017";
}
.ti-chevron-left:before {
  content: "\e995";
}
.ti-chevron-right:before {
  content: "\e99f";
}
.ti-chevrons-down:before {
  content: "\a021";
}
.ti-chevrons-left:before {
  content: "\a018";
}
.ti-chevrons-right:before {
  content: "\a019";
}
.ti-chevrons-up:before {
  content: "\a020";
}
.ti-chevron-up:before {
  content: "\a016";
}
.ti-check:before {
  content: "\a007";
}
.ti-check2:before {
  content: "\a010";
}
.ti-check-box:before {
  content: "\a012";
}
.ti-check-box2:before {
  content: "\a013";
}
.ti-check-circle:before {
  content: "\a011";
}
.ti-check-circle2:before {
  content: "\eb58";
}
.ti-check-sm:before {
  content: "\e909";
}
.ti-check-xs:before {
  content: "\a009";
}
.ti-minus-circle:before {
  content: "\a006";
}
.ti-plus:before {
  content: "\a003";
}
.ti-plus-circle:before {
  content: "\a005";
}
.ti-x:before {
  content: "\e90b";
}
.ti-x-sm:before {
  content: "\a002";
}
